* {
  box-sizing: border-box;
}
.box {
  box-shadow: 1px 1px 1px lightgrey;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.small {
  flex-basis: 250px;
}
.large {
  flex-basis: 450px;
}
.box {
  height: 200px;
  border: 2px black solid;
  flex-grow: 1;
  margin: 10px;
}
.a {
 background-color: lightgreen;
}
.b {
  background-color: beige;
 }
.c {
  background-color: salmon;
 }
.d {
 }
.e {
  background-color: lightgreen;
 }
.f {
  background-color: beige;
 }
.g {
  }
.h {
  background-color: salmon;
 }
.i {
  background-color: lightgreen;
 }
